extends ../../layout

block content
  include ../nav
  .row
    .col-lg-3.col-md-4
      include ../subnav
    .col-lg-9.col-md-8
      form(method='post')
        input(type='hidden', name='_csrf', value=_csrf)
        .card
          .card-header=global.__('New Video')
          .card-block
            .form-group
              label(for='video')=global.__('Video')
              input.form-control(type='text', name='url', id='video', placeholder='', autofocus, required)
              span.help
                | YouTube or Vimeo link
            .form-group
              button.btn.btn-primary(type='submit')=global.__('Save')
