public/css/main.css
.env*
node_modules
npm-debug.log
storage/
warehouse/
.db
.elasticsearch
logs/*
storage
warehouse
.DS_Store
.vscode/
package-lock.json
.eslintrc.json
font-awesome.css
.idea/*
.idea
