.env*
avnode-*
node_modules

npm-debug.log
logs/*
.DS_Store
.vscode/
package-lock.json
__BUTTARE
__IMPORT SCRIPTS
___MAINTENANCE_SCRIPTS
config/ses.json
log.log

glacier/_manual/*
space/*
glacier/events_originals/*
glacier/_manuals/*
glacier/footage_originals/*
glacier/footage_previews/*
glacier/galleries_originals/*
glacier/news_originals/*
glacier/performances_originals/*
glacier/users_originals/*
glacier/videos_originals/*
glacier/videos_previews
warehouse/events/*
warehouse/footage/*
warehouse/galleries/*
warehouse/news/*
warehouse/organizations/*
warehouse/performances/*
warehouse/users/*
warehouse/videos/*
warehouse/footage_previews/*
warehouse/videos_previews/*

!glacier/events_originals/.folder_maker
!glacier/footage_originals/.folder_maker
!glacier/footage_previews/.folder_maker
!glacier/galleries_originals/.folder_maker
!glacier/news_originals/.folder_maker
!glacier/performances_originals/.folder_maker
!glacier/users_originals/.folder_maker
!glacier/videos_originals/.folder_maker
!glacier/videos_previews/.folder_maker
!warehouse/events/.folder_maker
!warehouse/footage/.folder_maker
!warehouse/galleries/.folder_maker
!warehouse/news/.folder_maker
!warehouse/organizations/.folder_maker
!warehouse/performances/.folder_maker
!warehouse/users/.folder_maker
!warehouse/videos/.folder_maker
