// Terms and conditions
!=dett.organizationsettings.call.calls[call.index].terms
.form-check.mb-4
  input.form-check-input(id="accept_terms", type="checkbox", name="accept", value=1)
  label.form-check-label(for="accept_terms")
    !=" "+__("I accept this terms")