@import "./includes_admin/jquery-ui.scss";
@import "./includes_admin/BsMultiSelect.min.scss";
@import "./includes_admin/bootstrap-table.min.scss";
@import "./includes_admin/bootstrap-table-reorder-rows.scss";
@import "./includes_admin/dropzone.min.scss";
@import "./includes_admin/adminpro.scss";

.form-check {
  line-height: 1.5;
}

.formcontainer{max-width:1060px}
.myDropzone {
  min-height: 150px;
  border: 0;
  background: none;
  padding: 0;
}
/*$brand-primary: #007bff;
$border-radius: 3px;
*/
$white: #fff;
$jumbotron-padding: 1rem;
//$jumbotron-bg: transparent;
//$navbar-padding-x: 0;

/*$gray: #444444;*/
$gray-dark: #222222;
$gray-light: #aaaaaa;
$gray-lighter: #dbdbdb;
$gray-lightest: #f8f8f8;

$input-color-placeholder: $gray-light;

.marginBottom {
  margin-bottom: 5px;
}
#navbar-collapse_admin .nav-item .fa,
#navbar-collapse_admin .nav-item .fas,
#navbar-collapse_admin .nav-item .far,
#navbar-collapse_admin .nav-item.active {
  color: #fff;
}

#app .maincontent {
  background-color: $gray-lightest;
  color: $gray-dark;
  overflow: scroll;
}
.spinner {
  display: flex;
  padding: 50vh 50%;
  color: #000;
  font-size: 3em;
}
.vjtv {
  padding: 5px;
  border: 5px solid #ff0000;
  margin-bottom: 20px;
}

#app {
  padding-bottom: 1rem;
  margin-bottom: -1rem;
  .account-nav-wrap {
    margin-top: $jumbotron-padding * -1;
    background-color: $gray-lighter;
    margin-bottom: $jumbotron-padding;
  }
  h3 {
    color: $gray-dark;
  }
  #account-nav .list-group-item.active {
    background-color: #000 !important;
    border: none;
    border-bottom: #000 solid 1px;
  }
  /* #account-nav {
    .nav-link {
      background-color: $gray-lighter;
      color: $gray-dark;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &.active {
        background-color: $gray-lightest;
      }
      padding: 0.5rem 1rem;
    }
  }
  #account-sidenav {
    .nav-link {
      background-color: $gray-lighter;
      color: $gray-dark;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &.active {
        background-color: $gray-lightest;
      }
      padding: 0.5rem 1rem;
    }
  } */
  fieldset {
    margin-top: 2rem;
  }
  legend {
    font-size: 1.25rem;
  }
  .list-group-item {
    background-color: transparent;
  }
}

.save-bar {
  position: fixed;
  left: 0;
  bottom: -4rem;
  background-color: rgba($gray-dark, 0.9);
  width: 100%;
  height: 4rem;
  padding: 0.5rem;
  transition: top 0.5s ease;
  &.active {
    bottom: 0;
  }
}
/*
.drop {
  transition: all .2s ease;
  background-color: $brand-success !important;
  color: $white;
}
*/
.jumbotron {
  margin-bottom: 0;
  color: $gray-dark;
  padding: 2rem 1rem;
}
.teaser {
  border-radius: 3px;
  display: inline-block;
  background-color: rgba($white, 0.7);
  padding: 1rem 3rem;
  margin: 3rem 0 3rem 3rem;
}

.input-error span {
  border: none;
  font-weight: 700;
  color: #700;
  position: absolute;
  top: 7px;
  right: 10px;
  z-index: 999;
}

.input-error span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\F06A";
  margin-right: 5px;
  margin-left: 5px;
}

.tabparent {
  ul {
    li {
      a {
        margin-right: 10px;
      }
    }
  }
}
.deleteicon i {
  color: #a7a7a7;
  padding: 5px;
  float: right;
}

.fade {
  opacity: 1;
  transition: opacity 0.15s linear;
}
.fade.show {
  opacity: 1;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 5px 15px;
}
.tab-content > .active {
  background-color: #fff;
  padding: 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.listlanguages li {
  list-style-type: none;
}
.navabout ul {
  display: block;
}
textarea#styled {
  width: 100%;
  height: 300px;
  border: none;
}
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group {
  margin-left: 0;
}
.input-group .form-control {
  z-index: auto;
}
.modal-close i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}
.modal-backdrop.in {
  opacity: 0.5;
}
/* .modal-dialog {
  margin-top: 10%;
  max-width: 800px;
} */
.table-fixed {
  table-layout: fixed;
}
.table-firstcolumn-ID,
.table-firstcolumn-ID {
  width: 50px;
}
.table-fixed td {
  overflow: hidden;
}
.publicUrl {
  color: #545454;
  font-style: italic;
  font-size: 14px;
  padding: 5px;
}
.labelField {
  color: #636c72;
  font-weight: 600;
  line-height: 1.5;
}
.labelField p {
  margin-right: 10px;
  display: inline-block;
}
.labelField i {
  padding: 5px;
  font-size: 18px;
  float: right;
}
.labelField i:hover {
  color: #d70000;
  cursor: pointer;
}
.help {
  color: #636c72;
  line-height: 1.6;
  font-size: 80%;
  display: inline-block;
}
.signup-container .help,
.signup-container .labelField {
  color: #fff;
}

.labelFieldUpload {
  color: #636c72;
  font-weight: 400;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 2rem;
}
.card-header h4 {
  display: inline-block;
}
.checkbox-list {
  margin-left: 10px;
}
.checkbox-list label {
  padding-left: 10px;
}

.error-message {
  color: #ff0000;
  font-style: italic;
  font-size: 14px;
  padding-left: 10px;
  text-transform: capitalize;
  display: block;
}
#PlacesAutocomplete__autocomplete-container {
  z-index: 999;
}
.attached-file > li {
  color: #636c72;
}
.enableBorder {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px;
  pointer-events: none;
}
.CrewTable a img {
  display: inline-block;
  padding: 10px;
  max-width: 100px;
}
.CrewTable a p {
  display: inline-block;
  margin: 0;
}
.PerformanceTable a img {
  display: inline-block;
  padding: 10px;
}
.PerformanceTable a p {
  display: inline-block;
  margin: 0;
}
.VideosTable a img {
  display: inline-block;
  padding: 10px;
}
.VideosTable a p {
  display: inline-block;
  margin: 0;
}
.GalleriesTable a img {
  display: inline-block;
  padding: 10px;
}
.GalleriesTable a p {
  display: inline-block;
  margin: 0;
}
.EventTable a img {
  display: inline-block;
  padding: 10px;
}
.EventTable a p {
  display: inline-block;
  margin: 0;
}
.rt-resizable-header-content {
  color: #333;
}
.rt-resizable-header-content span i {
  padding-left: 10px;
}
.titleComponent {
  margin-bottom: 20px;
}
.titleComponent h2 {
  color: #636c72;
  font-weight: 600;
}
.PerformanceTable a p {
  text-transform: inherit;
  font-weight: 300;
  font-size: 16px;
  color: #333;
  padding: 5px;
}
.PerformanceTable a p:hover {
  text-decoration: underline;
  color: #0f8fcf;
}
.CrewTable a p {
  text-transform: inherit;
  font-weight: 300;
  font-size: 16px;
  color: #333;
  padding: 5px;
}
.CrewTable a p:hover {
  color: #0f8fcf;
}
.EventTable a p {
  text-transform: inherit;
  font-weight: 300;
  font-size: 16px;
  color: #333;
  padding: 5px;
}
.EventTable a p:hover {
  text-decoration: underline;
  color: #0f8fcf;
}
.FootageTable a p {
  text-transform: inherit;
  font-weight: 300;
  font-size: 16px;
  color: #333;
  padding: 5px;
}
.FootageTable a p:hover {
  text-decoration: underline;
  color: #0f8fcf;
}
.Novideo {
  font-size: 24px;
  color: #333;
}
.memberTitle p {
  color: #333;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  margin-left: 10px;
}

.rt-resizable-header-content {
  font-size: 18px;
}
.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  //box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.user-list li {
  padding: 8px 16px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
  color: #333;
}
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
  padding: 0 4px;
  border-bottom: 1px solid #26a69a;
  -webkit-box-shadow: 0 1px 0 0 #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}
.ReactTags__remove:hover {
  color: #333;
}
/* .image-preview {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.image-preview:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
} */
.autocomplete-dropdown-container {
  z-index: 999;
  color: #333;
  background-color: #fff;
  padding-left: 5px;
}
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}
.datetimeEntry-control {
  margin-top: 8px;
}
.is-open {
  z-index: 100 !important;
}

.email-subscriptions {
  color: #333;
  font-size: 14px;
}
.custom-control-input {
  top: 5px;
  left: 2px;
  z-index: 999;
}
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 38px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 240px !important;
  overflow-y: auto;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
.attachment-dropzone {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 4px dotted #ced4da;
  border-radius: 2rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 10px;
}

.rc-tree-select-tree li {
  color: #333 !important;
}

.rc-tree-select-selection--multiple {
  max-height: 50px;
  overflow-y: scroll;
}
.rc-tree-select-dropdown {
  max-height: 350px;
  overflow-y: scroll;
}
.check-select {
  width: 300px;
}
.check-select .rc-tree-select-selection--multiple {
  min-height: 50px;
}
.rc-tree-select-arrow {
  top: 5px !important;
}
.rc-tree-select-selection--single {
  height: 36px !important;
}
.rc-tree-select-selection--single .rc-tree-select-selection__rendered {
  line-height: 36px !important;
}

.table-video-detail {
  table,
  th,
  td {
    border-collapse: collapse;
    color: #333;
  }
  th,
  td {
    padding-right: 10px;
    text-align: left;
  }
}

.gallery-list {
  h4 {
    display: inline-block;
  }
  .image-preview {
    padding-bottom: 10px;
    float: right;
  }
}
.connectedSortable {
  color: #000;
  background-color: #999;
  min-height: 100px;
}
#app .connectedSortable .list-group-item {
  background-color: #fff;
  margin: 3px 3px 0 3px;
}
#app .connectedSortable .list-group-item:last-child {
  margin: 3px 3px 3px 3px;
}
.commalist {
  display: inline;
  list-style: none;
  padding: 0;
}

.commalist li {
  display: inline;
}

.commalist li:after {
  content: ", ";
}

.commalist li:last-child:after {
    content: "";
}
.compactList{
  line-height: 1.1;
  font-size: .8rem;
}