@import "./custom/overrides.scss";
//@import "node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
/* @import url("https://fonts.googleapis.com/css?family=Montserrat:200,200i,700");
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  font-weight: 200;
  font-size: 15px;
} */
/* style donostia */

$color1: #0f8fcf;
$color2: #fff;
$color3: #a6a8ab;
$color4: #282828;
$color5: #303030;
$color6: #f16522;

a {
  color: $color1;
}

a:hover {
  text-decoration: none;
}

@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");


a#to_top {
  position: fixed;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  font-size: 40px;
  text-shadow: 1px 1px 0px $color4;
  display: none;
  z-index: 99;
}
a#to_top.to_top_visibile {
  display: block;
}

.soft-rounded-circle {
  border-radius: 5% !important;
}
.navbar-inverse {
  color: #fff;
  background-color: #212121;
}
// user navbar

ul.user_navbar {
  float: right;
  margin: 0;
  padding: 0;
}

.user_navbar li {
  display: inline-block;
}

.user_navbar .dropdown-menu {
  color: #fff;
  background-color: $color1;
  border: none;
  border-radius: 0;
  top: 48px;
}

.user_navbar .login a {
  color: $color3;
}

.user_navbar .login a:hover {
  color: $color2;
  text-decoration: underline;
}

.user_navbar .signup a {
  color: $color3;
}

.user_navbar .signup a:hover {
  color: $color2;
  text-decoration: underline;
}

.user_menu .lnr,
.navbar-inverse .navbar-nav .search .nav-link,
.navbar-inverse .navbar-nav .lang .nav-link {
  color: $color1;
}
.user_navbar .login .nav-link {
  padding: 0.4rem 0;
}
.user_navbar .dropdown-toggle::after {
  color: $color3;
  vertical-align: 0.055em;
}
.user_navbar .signup .nav-link {
  padding: 0.4rem 1rem 0.4rem 0;
}

.user_menu_logged .dropdown-menu {
  color: $color2;
  background-color: #292b2c;
  border: none;
  border-radius: 0;
}
.user_menu_logged .dropdown-menu a {
  color: $color3;
}
.members .media img, .authors .media img {
  max-width: 100px;
}

.partnerships .media img, .bookings .media img, .events .media img, .performances .media img, .news .media img {
  max-width: 200px;
}

h2 {
  margin-bottom: 0;
}
.media {
  border-top: 1px solid #999;
}
.media img {
  border-radius: 10px !important;
}
.soft-rounded-circle.svg {
  border: 1px solid #999;
}
.events .list-unstyled .media:first-child {
  border-top: 2px solid #999;
  margin-top: 5px !important;
}

.performances .list-unstyled .media:first-child {
  border-top: 2px solid #999;
  margin-top: 5px !important;
}

.list-inline-item:after{
  content: "|";
  padding-left: 10px;
  color: #999;
}
.list-inline-item:last-child:after{
  content: "";
  color: #999;
}