@import "./includes_main/overrides.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./includes_main/cookielawinfo";

@import url("https://fonts.googleapis.com/css?family=Montserrat:200,200i,700");

body {
  font-family: "Montserrat", sans-serif;
  // background-color: #303030;
  background-color: #212121;
  color: #fff;
  line-height: 1.8;
  font-weight: 200;
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  text-transform: uppercase;
  // letter-spacing: -0.05em;
}

b,
strong {
  font-weight: 700;
}

h1 .badge {
  vertical-align: text-top;
}

.playlist{
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.playlist .list-unstyled{
  position: relative;
}

.playlist-item{
  position: relative;
  margin-top: 2px;
}
.playlist-item .media:hover{
  opacity: .6;
}
.playlist-header{
  background-color: #000;
}
.playlist-item h5 {
  font-size: 1rem;
}
.playlist-item .more {
  position: absolute;
  bottom: 0;
  right: 0;
}
.playlist-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: .85;
  text-align: left;
  border: 6px solid rgba(43,51,63,.7);
  box-sizing: border-box;
  background-clip: padding-box;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  animation: 0s linear .3s forwards vjs-spinner-show;
}
.playlist-loading .vjs-loading-spinner {
  display: block;
  animation: 0s linear .3s forwards vjs-spinner-show;
}
  
/*! @name videojs-logo @version 2.0.0 @license MIT */
.video-js.vjs-logo{display:block}
.video-js.vjs-logo .vjs-logo-content{position:absolute;opacity:1;transition:visibility 2s,opacity 2s}
//.video-js.vjs-logo .vjs-logo-content.vjs-logo-hide{visibility:hidden;opacity:0}
.ui-datepicker td.highlight a{
  background-color: $primary;
}
#headervjtv {
  height: 53px;
  margin-bottom: 5px;
}
.vjs-logo-content img{
  -webkit-filter: drop-shadow( 0 0 2px rgba(255, 255, 255, 1));
  filter: drop-shadow( 0 0 2px rgba(255, 255, 255, 1));
}