/*$brand-primary: #007bff;
$border-radius: 3px;
*/
$white: #fff;
$jumbotron-padding: 1rem;
//$jumbotron-bg: transparent;
//$navbar-padding-x: 0;

/*$gray: #444444;*/
$gray-dark: #222222;
$gray-light: #aaaaaa;
$gray-lighter: #dbdbdb;
$gray-lightest: #f8f8f8;

$input-color-placeholder: $gray-light;

#app {
  background-color: $gray-lightest;
  padding-bottom: 1rem;
  margin-bottom: -1rem;
  .account-nav-wrap {
    margin-top: $jumbotron-padding * -1;
    background-color: $gray-lighter;
    margin-bottom: $jumbotron-padding;
  }
  h3{color: $gray-dark}
  #account-nav {
    .nav-link {
      background-color: $gray-lighter;
      color: $gray-dark;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &.active {
        background-color: $gray-lightest;
      }
      padding: .5rem 1rem;
    }
  }
  #account-sidenav {
    .nav-link {
      background-color: $gray-lighter;
      color: $gray-dark;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &.active {
        background-color: $gray-lightest;
      }
      padding: .5rem 1rem;
    }
  }
  fieldset {
    margin-top: 2rem;
  }
  legend {
    font-size: 1.25rem;
  }
  label {
    color: $gray-light;
    margin-bottom: .2rem;
    font-size: .8rem;
  }
  .list-group-item {
    background-color: transparent;
  }
}

.save-bar {
  position: fixed;
  left: 0;
  bottom: -4rem;
  background-color: rgba($gray-dark, .9);
  width: 100%;
  height: 4rem;
  padding: .5rem;
  transition: top .5s ease;
  &.active {
    bottom: 0;
  }
}
/*
.drop {
  transition: all .2s ease;
  background-color: $brand-success !important;
  color: $white;
}
*/
.jumbotron {
  margin-bottom: 0;
  color: $gray-dark;
  padding: 2rem 1rem;
}
.teaser {
  border-radius: 3px;
  display: inline-block;
  background-color: rgba($white, .7);
  padding: 1rem 3rem;
  margin: 3rem 0 3rem 3rem;
}

.input-error span{
  border: none;
  font-weight: 700;
  color: #700;
  position: absolute;
  top: 7px;
  right: 10px;
  z-index: 999;
}

.input-error span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F06A';
  margin-right: 5px;
  margin-left: 5px;
}

  .tabparent{
    ul{
      li{
        a{
          margin-right: 10px;
        }
      }
    }
  }
.deleteicon i {
  color:#a7a7a7;
  padding: 5px;
  float: right;
}

.fade {
  opacity: 1;
  transition: opacity 0.15s linear; 
}
.fade.show {
  opacity: 1; 
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 5px 15px;}
.tab-content > .active{
  background-color: #fff;
  padding: 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}
.listlanguages li {
  list-style-type: none;
}
.navabout ul {
  display: block;
}
textarea#styled {
  width: 100%;
  height: 300px;
  border: none;
}
.input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group{
  margin-left:0;
}
.input-group .form-control{
  z-index:auto;
}
.modal-close i {
  position:absolute;
  top:0;
  right:0;
  padding:5px;
  cursor:pointer;
}
.modal-backdrop.in {
  opacity:0.5;
}
.modal-dialog{
  margin-top:10%;
}
.modal-title {
  color: #0f8845;
  margin:0 auto;
}
.modal-body h4{
  text-align:center;
  color: #0f8845;
}
.publicUrl{
  color: #545454;
  font-style: italic;
  font-size: 14px;
  padding: 5px;
}
.labelField{
  color: #636c72;
  font-weight: 400;
}
.labelFieldUpload{
  color: #636c72;
  font-weight: 400;
  padding-top: 5px;
  cursor:pointer;
  font-style: italic;
}
.card-header h4{
  display:inline-block;
}
.checkbox-list{
  margin-left: 10px;
}
.checkbox-list label {
  padding-left: 10px;
}
.card-body button {
  margin-bottom: 10px;
}
.error-message {
  color: #ff0000;
  font-style: italic;
  font-size: 14px;
  padding-left: 10px;
}
#PlacesAutocomplete__autocomplete-container{
  z-index:999;
}
.attached-file > li{
  color:#636c72;
}
.enableBorder{
  border: 1px solid rgba(0,0,0,0.15);
  padding: 10px;
}