@media print {
  body {
    color: #000;
    background-color: #FFF;
    padding: 0;
  }
  .page-break{
    page-break-after: always
  }
}
.bootstrap-table .fixed-table-container .table td {
  vertical-align: top;
}
.page-break{
  margin-bottom: 3rem !important;
}
.header-top .btn-toolbar{display: none;}
.printable{
    color: #000;
    background-color: #FFF;
}
@media print {
  .page-break-after-always { 
    page-break-after: always;
  }
}
.white-content{
    color: #000;
    background-color: #FFF;
    padding: 20px;
}
.dashboardcode-bsmultiselect li .custom-control {
  align-items: left;
  justify-content: left;
}
.dashboardcode-bsmultiselect .close {
  padding-left: 5px;
}
.dashboardcode-bsmultiselect {
  padding-right: 15px;
}
.list-group-item.disabled .edit-schedule, .list-group-item.disabled .lock-schedule, .list-group-item:disabled .lock-schedule, .list-group-item:disabled .edit-schedule, .list-group-item.disabled .duplicate, .list-group-item:disabled .duplicate {
  pointer-events: auto;
}
.list-group-item{
  line-height: 18px;
  padding: 10px;
}
.duration {
  font-weight: bold;
}
.timing {
  position: absolute;
  top: -4px;
  left: -1px;
  font-weight: bold;
  background-color: #999;
  height: 16px;
  padding: 0 4px;
}

.index {
  position: absolute;
  top: 0;
  right: -1px;
  font-weight: bold;
  color: #999;
}
.actsfilters {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #000;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: .25rem;
  padding: 15px;
}
.ui-widget.ui-widget-content {
  z-index: 100000;
}
.actsfilters-header{
  position: absolute;
  top:-15px;
  left: 15px;
}

#body-row {
  margin-left:0;
  margin-right:0;
}
#sidebar-container {
  min-height: 100vh;   
  background-color: #333;
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 285px;
}
.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  padding-left: 30px;
}
#sidebar-container .list-group .sidebar-subsubmenu a {
  padding-left: 75px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;    
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
content: " \f0d7";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
content: " \f0da";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}

.sidebar {
  position: fixed;
  top: 62px;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-shadow: inset -1px 0 0 rgba(255,255,255,0.1);
  padding: 0;
}

.navbar_extended_template{
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #999;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

