body{font-family: Arial, Helvetica, sans-serif}
.about{line-height:1}
.header-top{background-color: #000000;color: #ffffff;padding: 10px}
.header-top ul li {display: inline-block;list-style: none;margin-right: 20px;}
.header-top a{color: #ffffff}
.navbar-toggler{display: none;}
.navbar-brand, .collapse.navbar-collapse , .collapse.navbar-collapse ul{display: inline-block;}
.navbar-brand{margin-right: 20px;}
.collapse.navbar-collapse ul{padding: 0;}
.container-fluid.main{padding: 10px}
.header-top .btn-toolbar{display: none;}
