$primary: #0f8fcf;
$blue: #0f8fcf;
$enable-pointer-cursor-for-buttons: false;
/* style donostia */

$color1: #0f8fcf;
$color2: #fff;
$color3: #a6a8ab;
$color4: #282828;
$color5: #303030;
$color6: #f16522;
