extends ../layout

block title
block teaser
  div#app
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCOMLSxSmylntKBKxgy6WN5n7FYzvsgR8Q&libraries=places')
  script(src='/js/bundle.js')
