extends ../layout

block title
block teaser
  div#app
  script(src='https://maps.googleapis.com/maps/api/js?key='+process.env.GOOGLEMAPSAPIKEY+'&libraries=places')
  script(src='/js/bundle.js')
