extends ../../layout_admin
block topmenu
  include topmenu
block content
  link(rel='stylesheet' href='/fullcalendar/main.min.css')
  //link(rel='stylesheet' href='/fullcalendar/style.css')
  // partial:index.partial.html
  .row
    .col-md-4.fc
      .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr
        .fc-toolbar-chunk
          h2#fc-dom-1.fc-toolbar-title ADD PROGRAM
      .input-group.autocomplete_vjtv.mb-3
        input.form-control(type='text' autocomplete='nope' placeholder=__("Search Video") value='')
        //.input-group-append
          button.mb-2.btn.btn-success.disabled(type='button' /*data-objid=data._id data-obj=get.sez*/)
            i.icon-plus
            !=" "
            b=__("Add")

      #external-events
        .attachment-dropzone NO Video
      .form-check.mt-3
        input#drop-remove.form-check-input(type='checkbox' checked)
        label.form-check-label(for='drop-remove') remove after drop
      .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr.mt-3
        .fc-toolbar-chunk
          h2#fc-dom-1.fc-toolbar-title MANAGE SCALE
        .btn-group(role='group')
          button#slotsmall.btn.btn-sm.btn-secondary.disabled(type='button' data-slot="00:30:00") SMALL
          button#slotmid.btn.btn-sm.btn-outline-secondary(type='button' data-slot="00:10:00") MID
          button#slotbig.btn.btn-sm.btn-outline-secondary(type='button' data-slot="00:01:00") LARGE
      .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr.mt-3
        .fc-toolbar-chunk
          h2#fc-dom-1.fc-toolbar-title MANAGE STREAM
      .cnt
        button.btn.btn-danger.mr-3(type='button') STOP
        button.btn.btn-success.mr-3.disabled(type='button') START
        button.btn.btn-warning.mr-3(type='button') RELOAD
        a.btn.btn-info(href='https://www.twitch.tv/vjtelevision' target="_blank") WATCH
      .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr.mt-5
        .fc-toolbar-chunk
          h4#fc-dom-1.fc-toolbar-title CONTENTS
      p
        span.mr-3(style="border-color: purple; background-color: purple;color:purple") XX
        !="PERFORMANCES"
      p
        span.mr-3(style="border-color: red; background-color: red;color:red") XX
        !="red VJ-DJ SETS"
      p
        span.mr-3(style="border-color: green; background-color: green;color:green") XX
        !="DOCS"
      p
        span.mr-3(style="border-color: #3788d8; background-color: #3788d8;color:#3788d8") XX
        !="VIDEOS"
      p
        span.mr-3(style="border-color:orange; background-color: orange;color:orange") XX
        !="ADVERTISING"

    .col-md-8
      #calendar-container
        #calendar
      // partial
