.clearfix.pt-3.pb-3
  .float-left
    h2.h2
      if event
        a(href="/adminpro/partners/"+owner)
          i.pr-1.icon-caret-square-left
          !=title
      else
        !=title
  .float-right
    .btn-group.mr-2
      a.btn.btn-sm(href='/adminpro/vjtv/' class=currentUrl!="/adminpro/vjtv/" ? "btn-outline-secondary" : "btn-primary")="CALENDAR"
      a.btn.btn-sm(href='/adminpro/vjtv/generator/',  class=currentUrl!="/adminpro/vjtv/generator/" ? "btn-outline-secondary" : "btn-primary")="GENERATOR"
