.card
  if item.imageFormats
    img.card-img-top.img-fluid(
      src=item.imageFormats.medium
      alt=item.title
    )
  .card-block
    h4.event_item_title=item.title
  .card-block.pt-0
    a.btn.btn-secondary(href=item.publicUrl)=__('More')
