if messages.errors
  .container.mt-3
    .alert.alert-danger
      for error in messages.errors
        if error.msg instanceof Object
          for item in error.msg
            if item instanceof Object
              for err in item
                div!=err.message
        else
          div!=error.msg

if messages.info
  .container.mt-3
    .alert.alert-info
      for info in messages.info
        div!=info.msg
if messages.success
  .container.mt-3
    .alert.alert-success
      for success in messages.success
        div!=success.msg
