nav.navbar.navbar_extended_template.navbar-toggleable-md.navbar-fixed-top.navbar-inverse.bg-inverse
  .container
    button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbar-collapse_performer_template")
      span.lnr.lnr-menu.toggle_icon
    a.navbar-brand(href='/', title="AVnode.net")
      img(src='/images/LogoAVnode-bar.svg', height='30', class='main_logo' alt='AVnode.net')

    .collapse.navbar-collapse#navbar-collapse_performer_template
      include menuSections
      ul.user_navbar
        if user
          li.nav-item.dropdown.user_menu.user_menu_logged                  
            a#userDropdown.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              span.lnr.lnr-user
            .dropdown-menu(aria-labelledby='userDropdown')
              ul
                li.nav-item
                  a(href='/'+user.slug)                    
                    span.lnr.lnr-eye
                    !=" "+global.__('Profile')
                li.nav-item
                  a(href='/admin/profile/public')                    
                    span.lnr.lnr-cog
                    !=" "+global.__('Control Panel')
                li.nav-item
                  a(href='/logout')                    
                    span.lnr.lnr-exit
                    !=" "+global.__('Log out')
        else
          li.nav-item.user_menu
            ul
              span.lnr.lnr-user
              li.nav-item
                a(href='/login', title=global.__('Login'))=global.__('Login')
              li.nav-item
                a(href='/signup', title=global.__('Sign up'))=global.__('Sign up')
        li.nav-item
          if url && url.indexOf("/search")===0
            a(href='#')
              i.fa.fa-search.fa-lg.fa-fw
          else
            a(href='#searchbar', title=__('Search'), data-toggle="collapse", role="button", aria-expanded="false", aria-controls="searchbar")
              i.fa.fa-search.fa-lg.fa-fw
        li.nav-item.dropdown
          a#langDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            b=session.current_lang.toUpperCase()
          .dropdown-menu(aria-labelledby='langDropdown')
            each lang,slug in config.locales_labels
              a.dropdown-item(href='//'+(slug!='en' ? slug+'.' : '')+basehost+current_url)=lang