<?xml version="1.0" encoding="UTF-8"?>
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1")
  if nextpage === 2
    url
      loc=host+"/"+basepath
      lastmod=lastmod
  each item in data
    url
      loc=host+"/"+(basepath==="performers" ? "" : basepath+"/")+item.slug
      lastmod=item.updatedAt ? item.updatedAt.toISOString() : item.createdAt.toISOString()
      image:image
        image:loc=item.imageFormats.large
        image:title=global.__("Image of")+": "+(basepath==="performers" ? item.stagename : item.title)