extends ../layout

block content
  .container
    include ../partials/filters-menu
    hr
    .row
      each item in data
        .col-lg-4.col-md-6.list_item
          include ../partials/boxVideo
    hr
    include ../partials/pagination
