extends ../layout

block content
  .container
    include ../partials/filters-menu
    hr
    .row
      each item in data
        .col-md-4
          include ../partials/boxVideo
    hr
    include ../partials/pagination
