root(lng='en', autostop='true', trackid='UA-8844617-6', endppath='//avnode.net:8006/_fp/fpEndpage.php?id=6091', resizzamode='2', txtswfreader='//avnode.net/_fp/reader.swf', downpath='//avnode.net/_fp/fpDownload.php?file=', embedpath='//avnode.net/_fp/flxerPlayer.swf')
  item
    file=process.env.WAREHOUSE+data.media.file
    data
      tit=data.title
    thumb=data.imageFormats.large
