extends ../../../layout_tools
block content
  h2=title
  ol
    if data.length
      each item, index in data
        li
          !=global.appRoot+item.file + " "+(item.exists ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
          if item.files
            !="<br />File: "+item.files.file
            !="<br />originalFile: "+item.files.originalFile
            !="<br />previewFile: "+item.files.previewFile
            !="<br />FileNew: "+item.files.fileNew
            !="<br />previewFileNew: "+item.files.previewFileNew
            !="<br />originalFileNew: "+item.files.originalFileNew
  //pre=JSON.stringify(data, null, 2)