#sidebar-container.sidebar-expanded.d-none.d-md-block
  // !=currentUrl +(currentUrl.indexOf("/admindev/supertools/files")===0)
  // d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu'
  // Bootstrap List Group
  ul.list-group
    // Separator with title
    li.list-group-item.sidebar-separator-title.d-flex.align-items-center.menu-collapsed
      small ADVANCED TOOLS
    a.bg-dark.list-group-item.list-group-item-action(href='/admindev/events/')
      .d-flex.w-100.justify-content-start.align-items-center
        span.fa.fa-calendar.fa-fw.mr-3
        span.menu-collapsed="Events"
    a.bg-dark.list-group-item.list-group-item-action(href='/admindev/organizations/')
      .d-flex.w-100.justify-content-start.align-items-center
        span.fa.fa-sitemap.fa-fw.mr-3
        span.menu-collapsed="Organizations"
    a.bg-dark.list-group-item.list-group-item-action(href='/admindev/partners/')
      .d-flex.w-100.justify-content-start.align-items-center
        span.fa.fa-handshake-o.fa-fw.mr-3
        span.menu-collapsed="Partners"
    if superuser
      a.bg-dark.list-group-item.list-group-item-action(href='/admindev/supertools/')
        .d-flex.w-100.justify-content-start.align-items-center
          span.fa.fa-wrench.fa-fw.mr-3
          span.menu-collapsed="Tools"
