extends ../../layout_admin
block content
  - var mkdir = []
  if data.length
    each item, index in data
      if !item.exists && item.mkdir && mkdir.indexOf(item.mkdir)===-1
        - mkdir.push(item.mkdir)
    - mkdir.sort()
    ol
      if mkdir.length
        each item in mkdir
          li=item

  ol
    if data.length
      each item, index in data
        if !item.exists /*|| !item.previewexists */
          li
            if item.find
              !=item.find
              if item.find2
                !="<br />"
                !=item.find2
            else 
              !=global.appRoot+item.file + " "+(item.exists ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
              if item.imageFormats
                each image, format in item.imageFormats
                  !="<br />"
                  !=format+": "+global.appRoot+image + " "+(item.imageFormatsExists[format] ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
            if item.preview
              !="<br />"
              if item.findpreview
                !=item.findpreview
              else 
                !="Preview: "+global.appRoot+item.preview + " "+(item.previewexists ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
            !="<br />"
            if item.findoriginal
              !=item.findoriginal
            else 
              !="Original: "+global.appRoot+item.original + " "+(item.originalexists ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
  ol
    if data.length
      each item, index in data
        if item.exists
          li
            !=global.appRoot+item.file + " "+(item.exists ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
            if item.imageFormats
              each image, format in item.imageFormats
                !="<br />"
                !=format+": "+global.appRoot+image + " "+(item.imageFormatsExists[format] ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
            if item.preview
              !="<br />"
              if item.findpreview
                !=item.findpreview
              else 
                !="Preview: "+global.appRoot+item.preview + " "+(item.previewexists ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
            !="<br />"
            if item.findoriginal
              !=item.findoriginal
            else 
              !="Original: "+global.appRoot+item.original + " "+(item.originalexists ? '<span class="badge badge-success">OK</span>' : '<span class="badge badge-danger">MISSING</span>' )
  //pre=JSON.stringify(data, null, 2)