extends ../layout
block teaser
  //if data.teaserImageFormats.large
    .d-flex.justify-content-center.align-items-start
      img.img-fluid(
        src=data.teaserImageFormats.large
        alt=data.stagename
      )

block title
  .performer_header_wrapper
    include header

block content
  .container
    section.row.mb-5
      .col-lg-12
        h2.main_title.indented_title.color1!=global.__('Crews')+" <small>(<span>"+data.stats.crews+"</span>)</small>"
        .row
          each item in data.crews
            .col-sm-4.list_item
              include ../partials/boxPerformer
    hr
    include ../partials/pagination
                  