extends ../layout
block teaser
  //if data.teaserImageFormats.large
    .d-flex.justify-content-center.align-items-start
      img.img-fluid(
        src=data.teaserImageFormats.large
        alt=data.stagename
      )

block title
  .performer_header_wrapper
    include header

block content
  .container
    section.row.performer_events_wrapper
      .col-lg-12
        h2.main_title.indented_title.color1!=__('Events')+" <small>(<span>"+data.stats.events+"</span>)</small>"
        .row
          each item in data.events
            .col-sm-4
              include ../partials/boxEvent
      .text-center
        a.btn.btn-primary(href="/#{data.slug}/events/page/#{nextpage}/")=__("Nexts")+" >>"
                  