.form-group
	label.labelField=__("Emails")
	#emails
		//
		- if (!data.emails || !data.emails.length) {
		-  data.emails = []
		-  data.emails.push({url:""});
		- }
		each item, i in data.emails
			.mb-3
				.input-group
					input.form-control(type='text' name='emails['+i+'][url]' placeholder=__("Emails") value=item.url)
					.input-group-append
						button.btn.btn-danger.remove_simple(type='button' data-list="emails" disabled=(data.emails.length ? "disabled" : undefined))
							i.icon-trash
	button.mb-2.btn.btn-success.btn-sm.duplicator(type='button' data-list="emails")
		i.icon-plus
		!=" "
		b=__("ADD EMAILS")

