#is_public_cnt.form-check.mb-3
	input.form-check-input(type='checkbox' id='is_public' name='is_public' value='true' checked=data.is_public ? "checked" : undefined)
	label.labelField(for='is_public')=__("Is Public")
