nav.mb-3.border-bottom
	- var exclude = ["connections", "partners", "program", "calls", "settings"]
	each obj,form in config.cpanel[get.sez].forms
		if (user.is_admin || exclude.indexOf(form)===-1) && config.cpanel[get.sez].forms[form].title
			a.btn.btn-primary.btn-sm.mr-3.mb-3(aria-current=(form==get.form ? 'true' : undefined) class=(form==get.form ? 'disabled' : undefined) href='/admin/'+get.sez+'/'+get.id+'/'+form)=__(config.cpanel[get.sez].forms[form].title)
