.form-group
	label.labelField=__("Phones")
	#phone
		//
		- if (!data.phone || !data.phone.length) {
		-  data.phone = []
		-  data.phone.push({url:""});
		- }
		each item, i in data.phone
			.mb-3
				.input-group
					input.form-control(type='text' name='phone['+i+'][url]' placeholder=__("Phones") value=item.url)
					.input-group-append
						button.btn.btn-danger(type='button' disabled=(i==0 ? "disabled" : undefined) onclick=(i>0 ? "$(this).parent().parent().parent().remove()" : undefined))
							i.icon-trash
	button.mb-2.btn.btn-success.btn-sm.duplicator(type='button' data-duplicate="phone")
		i.icon-plus
		!=" "
		b=__("ADD PHONE")

