.form-group
	label.labelField=__("Socials")
	#social
		//
		- if (!data.social || !data.social.length) {
		-  data.social = []
		-  data.social.push({url:""});
		- }
		each item, i in data.social
			.mb-3
				.input-group
					input.form-control(type='text' name='social['+i+'][url]' placeholder=__("Socials") value=item.url)
					.input-group-append
						button.btn.btn-danger.remove_simple(type='button' data-list="social" disabled=(data.social.length ? "disabled" : undefined))
							i.icon-trash
	button.mb-2.btn.btn-success.btn-sm.duplicator(type='button' data-list="social")
		i.icon-plus
		!=" "
		b=__("ADD SOCIAL")

