.form-group
	label.labelField=__("Web")
	#web
		//
		- if (!data.web || !data.web.length) {
		-  data.web = []
		-  data.web.push({url:""});
		- }
		each item, i in data.web
			.mb-3
				.input-group
					input.form-control(type='text' name='web['+i+'][url]' placeholder=__("Web") value=item.url)
					.input-group-append
						button.btn.btn-danger(type='button' disabled=(i==0 ? "disabled" : undefined) onclick=(i>0 ? "$(this).parent().parent().parent().remove()" : undefined))
							i.fa.fa-trash
	button.mb-2.btn.btn-success.btn-sm.duplicator(type='button' data-duplicate="web")
		i.fa.fa-plus
		!=" "
		b=__("ADD WEB")

