extends ../../../layout_admin
block topmenu
  include ../topmenu
block content
  .container.mb-2
    b="Users to update: "
    !=data.usertoupdate
    form(action=formUrl, method="post")
      button.btn.btn-primary(type="submit")="SUBMIT"
  pre=JSON.stringify(data.results, null, 2)