extends ../../layout_admin
block topmenu
  include topmenu
block content
  - var emails = []
  - var emailsbypackages = {}
  - var packagespackages = {standard: {}, wepay: {}, cash: {}, options: {}}
  include ./_filters
  if get['csv'] == 1
    include ./peoples_csv
  else
    include ./peoples_normal
