extends ../layout_admin
block content
  .row
    .col-md-12
      if data.events.length
        ul
        each item, index in data.events
          li
            a(href="/admindev/events/"+item._id)!=item.title
