extends ../layout

block content
  .container
    include ../partials/filters-menu
    hr
    .row
      each item in data
        .col-md-6.col-lg-4.user_list_item
          include ../partials/boxOrganization
    hr
    include ../partials/pagination
