extends layout_admin
block content
  .row
    .col-md-4
      if data.events.length
        h2=global.__("Events")
        ul
        each item, index in data.events
          li
            a(href="/admindev/events/"+item._id)!=item.title
    .col-md-4
      if data.events.length
        h2=global.__("Organizations")
    .col-md-4
      if data.events.length
        h2=global.__("Partners")
  //pre=JSON.stringify(data, null, 2)