doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - AVnode.net
    link(rel='shortcut icon', href='/icons/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='/icons/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='57x57', href='/icons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/icons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/icons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/icons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/icons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/icons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/icons/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/icons/apple-touch-icon-180x180.png')

    link(rel='stylesheet', href='/css/font-awesome/font-awesome.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/admindev.css')
    link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='/lightgallery/css/lightgallery.min.css')
    link(rel='stylesheet', href='//vjs.zencdn.net/4.12/video-js.css')

  body
    .header-top
      #top
      a#to_top.d-print-none(href="#top", title=global.__('Back to the top'))
        span.lnr.lnr-arrow-up-circle
      nav.d-print-none.navbar.navbar_extended_template.navbar-expand-lg.navbar-fixed-top.navbar-inverse.bg-inverse
        a.navbar-brand(href='/admindev', title="AVnode.net")
          img(src='/images/LogoAVnode-bar.svg', height='30', class='main_logo' alt='AVnode.net')
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbar-collapse_performer_template")
          span.lnr.lnr-menu.toggle_icon
        .collapse.navbar-collapse(id="navbar-collapse_performer_template")
          include partials/menuHeaderEvents

          ul.user_navbar
            li.nav-item.dropdown.user_menu.user_menu_logged                  
              a#userDropdown.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                span.lnr.lnr-user
              .dropdown-menu(aria-labelledby='userDropdown')
                ul
                  li.nav-item
                    a(href='/'+user.slug)                    
                      span.lnr.lnr-eye
                      !=" "+global.__('Profile')
                  li.nav-item
                    a(href='/admin/profile/public')                    
                      span.lnr.lnr-cog
                      !=" "+global.__('Control Panel')
                  li.nav-item
                    a(href='/logout')                    
                      span.lnr.lnr-exit
                      !=" "+global.__('Log out')
      .container-fluid
        .row
          // Sidebar
          .d-print-none
            if currentUrl.indexOf("/admindev/events")===0
              include partials/menuEvents
            else if currentUrl.indexOf("/admindev/supertools")===0
              include partials/menuSuper
            else if currentUrl.indexOf("/admin")===0
              include partials/menuHome
          main.col(role='main')
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
              h1.h2=title
              .btn-toolbar.mb-2.mb-md-0.d-print-none
                .btn-group.mr-2
                  button.btn.btn-sm.btn-outline-secondary(type='button') Share
                  button.btn.btn-sm.btn-outline-secondary(type='button') Export
                button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
                  svg.feather.feather-calendar(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    rect(x='3', y='4', width='18', height='18', rx='2', ry='2')
                    line(x1='16', y1='2', x2='16', y2='6')
                    line(x1='8', y1='2', x2='8', y2='6')
                    line(x1='3', y1='10', x2='21', y2='10')
                  |             This week

            include ../partials/flash
            .d-flex.main
              .row
                .col
                  block content
                  if script
                      !=script

                  footer.border-top.mt-3
                    .container-fluid
                      .text-muted.text-right=global.__('AVnode.net')
                  script(src='/js/combo.min.js')
                  script(src="/js/owl.carousel.min.js")
                  script(src="/js/admindev.js")
                  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
                  script(src="/js/moment-with-locales.min.js")
                  script(src="/js/jquery.serializejson.min.js")
                  script(src='//vjs.zencdn.net/4.12/video.js')
                  script(src='/lightgallery/js/lightgallery.min.js')
                  script(src='/lightgallery/js/lg-video.min.js')
                  script.
                    // Hide submenus
                    $('#body-row .collapse').collapse('hide'); 

                    // Collapse/Expand icon
                    $('#collapse-icon').addClass('fa-angle-double-left'); 

                    // Collapse click
                    $('[data-toggle=sidebar-colapse]').click(function() {
                        SidebarCollapse();
                    });

                    function SidebarCollapse () {
                      $('.menu-collapsed').toggleClass('d-none');
                      $('.sidebar-submenu').toggleClass('d-none');
                      $('.submenu-icon').toggleClass('d-none');
                      $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');
                      
                      // Treating d-flex/d-none on separators with title
                      var SeparatorTitle = $('.sidebar-separator-title');
                      if ( SeparatorTitle.hasClass('d-flex') ) {
                          SeparatorTitle.removeClass('d-flex');
                      } else {
                          SeparatorTitle.addClass('d-flex');
                      }
                      
                      // Collapse/Expand icon
                      $('#collapse-icon').toggleClass('fa-arrow-circle-o-left fa-arrow-circle-o-right');
                    }
