extends layout

block content
  .container
    p=global.__("We can't seem to find the page you're looking for.")
    p=global.__("Here some useful links:")
    .pl-2
      include partials/menuSections