extends ../layout_admin
block topmenu
  include topmenu
block content
  .row
    .col-md-4
        h2="stocazzo"
        
    .col-md-4
        h2=global.__("Organizations")
    .col-md-4
        h2=global.__("Partners")
  //pre=JSON.stringify(data, null, 2)