extends ../layout

block teaser

block title
  if data.title
    .jumbotron.jumbotron-fluid
      .container
        .row
          .col-lg-8
            h1.display-4=data.title
            if data.about
              p.lead=data.about

block content
  .row
    .col-lg-8
      h3=global.__('Performer')
    .col-lg-4
      .card-columns Bella
