<<<<<<< HEAD
html, body {
  background-color: $gray-dark;
}

main {
  background-color: $white;
  padding-bottom: 1rem;
}

footer {
  padding: 1rem 0;
  background-color: $gray-dark;
}

.card-columns {
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  @include media-breakpoint-only(md) {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
}

.navbar {
  &-brand {
    padding-right: 1rem;
  }
  .btn, .btn-link {
    cursor: pointer;
    -webkit-appearance: none;
  }
}

.card-deck {
  .card {
    max-width: 350px;
  }
}

#app {
  background-color: $gray-lightest;
  padding-bottom: 1rem;
  margin-bottom: -1rem;
  .account-nav-wrap {
    margin-top: $jumbotron-padding * -1;
    background-color: $gray-lighter;
    margin-bottom: $jumbotron-padding;
  }
  #account-nav {
    .nav-link {
      background-color: $gray-lighter;
      color: $gray-dark;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &.active {
        background-color: $gray-lightest;
      }
      padding: .5rem 1rem;
    }
  }
  #account-sidenav {
    .nav-link {
      background-color: $gray-lighter;
      color: $gray-dark;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &.active {
        background-color: $gray-lightest;
      }
      padding: .5rem 1rem;
    }
  }
  fieldset {
    margin-top: 2rem;
  }
  legend {
    font-size: 1.25rem;
  }
  label {
    color: $gray-light;
    margin-bottom: .2rem;
    font-size: .8rem;
  }
  .list-group-item {
    background-color: transparent;
  }
}

.save-bar {
  position: fixed;
  left: 0;
  bottom: -4rem;
  background-color: rgba($gray-dark, .9);
  width: 100%;
  height: 4rem;
  padding: .5rem;
  transition: top .5s ease;
  &.active {
    bottom: 0;
  }
}

.drop {
  transition: all .2s ease;
  background-color: #700 !important;
  color: $white;
}

.teaser {
  border-radius: 3px;
  display: inline-block;
  background-color: rgba($white, .7);
  padding: 1rem 3rem;
  margin: 3rem 0 3rem 3rem;
}

.input-error span{
  border: none;
  font-weight: 700;
  color: #700;
  margin-top: 5px;
}
.input-error span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F06A';
  margin-right: 5px;
  margin-left: 5px;
}

/* PROGRESS BAR */
li.active > a.hidden-xs {
  display: block!important;
 }
 li.active > a.visible-xs {
   display: none!important; 
 }
 .nav-pills.nav-wizard > li {
   position: relative;
   overflow: visible;
   border-right: 10px solid #fff;
   border-left: 10px solid #fff;
   background-color: $gray-200;
   cursor: default;
  }
 .nav-pills.nav-wizard > li:first-child {
   border-left: 0;
 }
 .nav-pills.nav-wizard > li:first-child a {
   border-radius: 5px 0 0 5px;
 }
 .nav-pills.nav-wizard > li:last-child {
   border-right: 0;
 }
 .nav-pills.nav-wizard > li:last-child a {
   border-radius: 0 5px 5px 0;
 }
 .nav-pills.nav-wizard > li a {
   border-radius: 0;
   background-color: $gray-200;
   padding: 8px;
   display: block;
 }
 .nav-pills.nav-wizard > li .nav-arrow {
   position: absolute;
   top: 0px;
   right: -20px;
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 20px 2px 20px 20px;
   border-color: transparent transparent transparent $gray-200;
   z-index: 150;
 }
 .nav-pills.nav-wizard > li .nav-wedge {
   position: absolute;
   top: 0px;
   left: -19px;
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 20px 0 20px 20px;
   border-color: $gray-200 $gray-200 $gray-200 transparent;
   z-index: 150;
 }
 .nav-pills.nav-wizard > li.link:hover .nav-arrow {
   border-color: transparent transparent transparent #aaa;
 }
 .nav-pills.nav-wizard > li.link:hover .nav-wedge {
   border-color: #aaa #aaa #aaa transparent;
 }
 .nav-pills.nav-wizard > li.link:hover a {
  background-color: #aaa;
  color: #fff;
}

.nav-pills.nav-wizard > li.active .nav-arrow {
   border-color: transparent transparent transparent $brand-primary;
 }
 .nav-pills.nav-wizard > li.active .nav-wedge {
   border-color: $brand-primary $brand-primary $brand-primary transparent;
 }
 .nav-pills.nav-wizard > li.active a {
   background-color: $brand-primary;
   color: #fff;
   text-decoration: none;
   display: block;
 }
 /* CSS for Credit Card Payment form */
 .credit-card-box .panel-title {
     display: inline;
     font-weight: bold;	
 }
 .credit-card-box .form-control.error {
     border-color: red;
     outline: 0;
     box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
 }
 .credit-card-box label.error {
   font-weight: bold;
   color: red;
   padding: 2px 8px;
   margin-top: 2px;
 }
 .credit-card-box .payment-errors {
   font-weight: bold;
   color: red;
   padding: 2px 8px;
   margin-top: 2px;
 }
 .credit-card-box label {
     display: block;
 }
 
 .credit-card-box .display-tr {
     display: table-row;
 }
 .credit-card-box .display-td {
     display: table-cell;
     vertical-align: middle;
     width: 50%;
 }
 /* Just looks nicer */
 .credit-card-box .panel-heading img {
     min-width: 180px;
 }
 /* PROGRESS BAR */
=======
html, body {
  background-color: $gray-dark;
}

main {
  background-color: $white;
  padding-bottom: 1rem;
}

footer {
  padding: 1rem 0;
  background-color: $gray-dark;
}

.card-columns {
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  @include media-breakpoint-only(md) {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
}

.navbar {
  &-brand {
    padding-right: 1rem;
  }
  .btn, .btn-link {
    cursor: pointer;
    -webkit-appearance: none;
  }
}

.card-deck {
  .card {
    max-width: 350px;
  }
}

#app {
  background-color: $gray-lightest;
  padding-bottom: 1rem;
  margin-bottom: -1rem;
  .account-nav-wrap {
    margin-top: $jumbotron-padding * -1;
    background-color: $gray-lighter;
    margin-bottom: $jumbotron-padding;
  }
  #account-nav {
    .nav-link {
      background-color: $gray-lighter;
      color: $gray-dark;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &.active {
        background-color: $gray-lightest;
      }
      padding: .5rem 1rem;
    }
  }
  #account-sidenav {
    .nav-link {
      background-color: $gray-lighter;
      color: $gray-dark;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &.active {
        background-color: $gray-lightest;
      }
      padding: .5rem 1rem;
    }
  }
  fieldset {
    margin-top: 2rem;
  }
  legend {
    font-size: 1.25rem;
  }
  label {
    color: $gray-light;
    margin-bottom: .2rem;
    font-size: .8rem;
  }
  .list-group-item {
    background-color: transparent;
  }
}

.save-bar {
  position: fixed;
  left: 0;
  bottom: -4rem;
  background-color: rgba($gray-dark, .9);
  width: 100%;
  height: 4rem;
  padding: .5rem;
  transition: top .5s ease;
  &.active {
    bottom: 0;
  }
}
/*
.drop {
  transition: all .2s ease;
  background-color: $brand-success !important;
  color: $white;
}
*/
.teaser {
  border-radius: 3px;
  display: inline-block;
  background-color: rgba($white, .7);
  padding: 1rem 3rem;
  margin: 3rem 0 3rem 3rem;
}

.input-error span{
  border: none;
  font-weight: 700;
  color: #700;
  margin-top: 5px;
  position: absolute;
  top: 2px;
  right: 15px;
  z-index: 999;
}

.input-error span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F06A';
  margin-right: 5px;
  margin-left: 5px;
}

  .tabparent{
    ul{
      li{
        a{
          margin-right: 10px;
        }
      }
    }
  }
.deleteicon i {
  color:#a7a7a7;
  padding: 5px;
  float: right;
}

.fade {
  opacity: 1;
  transition: opacity 0.15s linear; 
}
.fade.show {
  opacity: 1; 
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 5px 15px;}
.tab-content > .active{
  background-color: #fff;
  padding: 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}
.listlanguages li {
  list-style-type: none;
}
.navabout ul {
  display: block;
}
textarea#styled {
  width: 100%;
  height: 300px;
  border: none;
}
>>>>>>> 1d9e01deb96dba21f945418844791c2079c0732d
