$brand-primary: #0f8fcf;
$border-radius: 3px;
$white: #fff;
$jumbotron-padding: 1rem;
//$jumbotron-bg: transparent;
$navbar-padding-x: 0;

$gray: #444444;
$gray-dark: #222222;
$gray-light: #aaaaaa;
$gray-lighter: #dbdbdb;
$gray-lightest: #f8f8f8;

$input-color-placeholder: $gray-light;
